

/* ------ VARIABLES --------*/

$primary: #3c63ff;
$info: #B53471;
$grey: #34495e;
$body: #ecf0f1;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: $body;
	color: $grey;
	text-rendering: optimizeLegibility;
}

body {
	font-family: Poppins, sans-serif;
	overflow-x: hidden;
	background: $body;
	color: $grey;
}

.btn-white-border {
	border: 2px #fff solid;
}

h1, h2, h3, .letter {
	font-weight: 800;
}

.letter {
	font-size: 72px;
	letter-spacing: 8px;
	line-height: 1.2;
}

h3 {
	font-size: 120%;
}

@media (max-width: 575px) {
	h1,
	h2 {
		font-size: 180%;
	}
}

.gradient {
	background: #3c63ff;
	background: linear-gradient(45deg, #3c63ff 0%, #b53471 100%); 
}

.text-gradient {
	background: linear-gradient(45deg, #3c63ff 0%, #b53471 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  




/* -------------
PRELOADER
---------------*/

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index:999;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.loader-wrapper img {
	width: 100px;
	height: auto;
}

.preloader-bounce{
	-webkit-animation: key1 .4s ease infinite alternate;
	        animation: key1 .4s ease infinite alternate;
  }
  
  @-webkit-keyframes key1{
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);
	}
	100% {-webkit-transform: translateY(-10px);transform: translateY(-10px);
	}
  }
  
  @keyframes key1{
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);
	}
	100% {-webkit-transform: translateY(-10px);transform: translateY(-10px);
	}
  }  


/* -------------
NAVIGATION BAR
---------------*/

.navbar {
	z-index:999;
	background: #ecf0f1;
	opacity: 0.95;
}

.navbar a {
    font-weight: 800;
    letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
	padding: 1rem !important;
	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}

.navbar a:hover,
.navbar .nav-item .active {
	color: $info;
	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}


.nav-item > li .active > a, .nav-item>li.active>a:focus, .nav-item>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}

.logo {
	height: 30px;
}

.navbar-toggler {
	color: #000;
}




/* -------------
HEADER
---------------*/

#home-heading {
	position: relative;
	min-height: 200px;
	//background: url('../img/lights.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}

.dark-overlay {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}


/* -------------
MAP
---------------*/

#map {
	background: #eee;
}

#map iframe {
	width: 800px;
	height: 350px;
	border: 0;
}



/* -------------
CONTACT
---------------*/

#contact a {
	text-decoration: none;
	color: #fff;
}

#contact .fa-facebook:hover {
	color: $primary;
	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}

#contact .fa-instagram:hover {
	color: $info;
	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}

/* -------------
FOOTER
---------------*/

#main-footer {
	background: #000;
}



/* -------------
CAROUSEL
---------------*/

#hero-img {
	position: relative;
	height: 400px;
	background-image: url(../img/controllerleft.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-text {
	position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

@media (min-width: 576px) {
	.hero-text {
		top: 10%;
	}
}

.hero-text .lead {
	width: 40%;
}


/* -------------
RAINBOW TEXT
---------------*/

.letter {
	margin-left: -10px;
 color: #FFF;
 text-shadow: 2px 2px 6px #333;
 -webkit-animation: color-changer 8s infinite;
		 animation: color-changer 8s infinite;
 -webkit-transition: color-changer ease-in-out;
 transition: color-changer ease-in-out;
 @for $i from 1 through 7 {
   &:nth-of-type(#{$i}) {
	 -webkit-animation-delay: #{$i * 100}ms;
			 animation-delay: #{$i * 100}ms;
   }
 }
}

@keyframes color-changer {
 33% {
   color: $info;
 }
 /* #EE0BF5 cctv*/
 66% {
   color: $primary;
 }
 /* #00CCFF marine */
 100% {
   color: #FFF;
 }
 /* #66F50B radio */
}

@-webkit-keyframes color-changer {
 33% {
	 color: $info;
 }
 /* #EE0BF5 cctv*/
 66% {
   color: $primary;
 }
 /* #00CCFF marine */
 100% {
   color: #FFF;
 }
 /* #66F50B radio */
}






/* -------------
CITIES SECTION
---------------*/

.shape-1 {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	// -webkit-transform: translateX(30px);
	//         transform: translateX(30px);
	width: 200px;
	border: 0px solid $primary;
	border-radius: 6px;
}

.shape-2 {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	//  -webkit-transform: translateX(-30px);
	//          transform: translateX(-30px);
	width: 200px;
	border: 0px solid $info;
	border-radius: 6px 6px 6px 6px;
}

.shape {
	cursor: pointer;
	position: relative;
  }

  #cities a {
	  text-decoration: none;
	  font-weight: 800;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  color: #fff;
  }

  #cities h4 {
	  font-weight: 800;
  }
  
  .shape:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
  }

  .shape-1:after {
	background: linear-gradient(45deg, transparent 50%, $primary 50%);
	border-radius: 6px 0 0 6px;
   }

  .shape-2:after {
	background: linear-gradient(45deg, transparent 50%, $info 50%);
	border-radius:  6px;
}
  
  .shape,
  .shape:after {
	background-size: 300%;
	background-position: 100%;
	-webkit-transition: 1s;
	transition: 1s;
  }
  
  .shape:hover,
  .shape:hover:after {
	background-position: 0;
  }

  .shape-1:hover,
  .shape-1:hover:after {
	color: $primary;
  }

  .shape-2:hover,
  .shape-2:hover:after {
	color: $primary;
  }

  #cities .pulse {
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out

  }

  @media (max-width: 590px) {
	#cities .d-flex {
		flex-wrap: wrap;
	}

	.shape-1,
	.shape-2,
	.shape-1:after,
	.shape-2:after {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
-webkit-transform: translateX(0px);
		transform: translateX(0px);
		border-radius: 6px 6px 6px 6px;
		margin-bottom: 5px;
	}
}

/* -------------
XBOX SECTION
---------------*/

#xbox {
	background-color: #fff;
}

.xbox-title {
	position: absolute;
	bottom: 70px;
	right: -50px;
	color: $info;
	font-weight: 800;
}



/* -------------
RANGE SECTION
---------------*/

.range {
	-webkit-transform: scale(0.7);
	        transform: scale(0.7);
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	width: auto;
	margin-top: -20px;
}

.value {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  width: 80%; 
  margin: 0 auto;
  padding: 20px;
  height: 135px;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}

.price {
	font-size: 2em;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $info;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid $info;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }



/* -------------
PRODUCTS & RENTS
---------------*/

#products a {
	text-decoration: none;
	color: $grey;
}

#products .col-md-4 {
	-webkit-transition-duration: .4s;
	        transition-duration: .4s;
}

  #products .col-md-4:hover {
	padding: 0 13px;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition-duration: .4s;
	        transition-duration: .4s;
  }

.header-rounded {
	position: absolute;
	background-color: #fff;
	width: 70px;
	height: 70px;
	top: -35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-align: center;
    font-weight: bold;
    font-size: 1em;
	text-shadow: white 2px 2px 2px;
	line-height: 50px;
}

.fa-check {
	color:$info;
	margin-left: 7px;
	margin-right: 7px;
}

@media (max-width: 767px) {
	.col-md-4,
	.col-md-6 {
		margin-bottom: 40px;
	}

	#gallery .col-md-4 {
		margin-bottom: 10px !important;
		margin-top: 0px !important;
	}

	#gallery .row {
		margin-bottom: 0px !important;
		margin-top: 0px !important;
	}


}





/* -------------
BUTTON PULSE
---------------*/

.btn-pulse {

    -webkit-animation: shadow-pulse 2s infinite;
    animation: shadow-pulse 2s infinite;
    -webkit-transition: .3s background-color ease;
    transition: .3s background-color ease;
     }

    @keyframes shadow-pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(181,52,113, 0.5);
      box-shadow: 0 0 0 0 rgba(181,52,113, 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 8px rgba(181,52,113, 0);
      box-shadow: 0 0 0 8px rgba(181,52,113, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(181,52,113, 0);
      box-shadow: 0 0 0 0 rgba(181,52,113, 0);
  } }





/* -------------
FAQ
---------------*/


#faq {
	//background: url("../img/oculus_quest_action.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#faq .container {
	opacity: .9;
}

#faq .card {
	border: #444;
}

#faq .card-header,
#faq .card-body {
	border-bottom: 1px rgba(255, 255, 255, 0.137) solid;
}

#faq a {
	text-decoration: none;
	color: #fff;
}

#faq .collapse div {
	color: rgb(163, 163, 163);
}



/* -------------
LINKS LEFT
---------------*/

.links-left {
    background: $info;
    width: 50px;
    height: 140px;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 0px solid transparent;
    border-radius: 0 10px 10px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    z-index: 1;
}

.links-left a {
    font-weight: 200%;
}

.links-left i {
    font-size: 125%;
	color: white;
	margin-top: 2px;
}

.links-left a img {
    width: 23px;
}

.links-left a:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

@media (max-width: 575px) {
	.links-left {
		display: none;
	}
}


/* -------------
FAQ BUTTON
---------------*/

.faq-button {
	width: 60px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.6);
	-webkit-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

.faq-button i {
	line-height: 60px;
	margin-left: 24px;
	opacity: 0.6;
}

.faq-button:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}


/* -------------
ANIMATIONS
---------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4 {
	//opacity: 0;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated {
	opacity: 1;
}

.js--wp-1 {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

.js--wp-2 {
	-webkit-animation-delay: 0.7s;
	        animation-delay: 0.7s;
}

.js--wp-3 {
	-webkit-animation-delay: 0.9s;
	        animation-delay: 0.9s;
}
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import '~bootstrap/scss/bootstrap.scss';
