@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper{
    min-height: 100vh !important;
    position: relative;
    width: 100vw;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #dee2e6
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.top-bar {
    height: 60px;
    line-height: 60px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #333;
    background-color: rgba(181, 52, 112, 0.2);
}

.active-sidebar-link {
    background-color: rgba(181, 52, 112, 0.4);
}

.link-click {
    cursor: pointer;
    margin: 0 5px;
}

.full-height-wrapper {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: linear-gradient(45deg, #3c63ff 0%, #b53471 100%);
}

.error-m {
    color: #b53471;
}

.alert-box {
    width:max-content;
    max-width: 300px;
}

.logo {
    width: 70px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.img-width-150 {
    width: 150px;
}

.on-top {
    z-index: 3;
    position: relative;
}

.on-topper {
    z-index: 4;
    position: relative;
}